body {
  /* font-family: 'Arial', sans-serif; */
  margin: 0;
  padding: 0;
  /* background-color: #f0f0f0; */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 columns */
  grid-gap: 20px;
  padding: 20px;
  margin: auto;
  max-width: 1200px;
}

.subject-card {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  display: grid;
  border-radius: 8px;
  padding: 20px;
  height: 160px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.subject-card h2,
p {
  color: black;
}

.textbox {
  padding: 20px;
}

.textbox>h2 {
  margin: auto;
  margin-bottom: 0px;
}

.subject-card:hover {
  transform: scale(1.05);
  /* Slightly enlarge cards on hover */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25wh;
  height: 50vh;
}

.flashcard-viewer {
  padding: 20px;
  text-align: center;
  max-width: 600px;
  margin: 40px auto;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
}

.flashcard-viewer div {
  margin-bottom: 20px;
}

.flashcard {
  cursor: pointer;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}